Documentation/Sikraken Backlog.gsheet
Parser/**
regression_tests/**
regression_tests/*.zip
SampleCode/**/
SampleCode/a.out
SampleCode/*.i
SampleCode/*.pl
SampleCode/*.obj
SampleCode/*.exe
SampleCode/*.zip
SampleCode/*.gcov
test_runs_logs/
Sikraken.code-workspace
output/
SymbolicExecutor/try.pl
*.gcov
