Documentation/Sikraken Backlog.gsheet
RegressionTool/**/
Parser/**/
RegressionTests/**/
RegressionTests/*.i
RegressionTests/*.pl
RegressionTests/*.obj
SampleCode/**/
SampleCode/*.i
SampleCode/*.pl
SampleCode/*.obj
SampleCode/*.exe
SampleCode/*.zip
SampleCode/*.gcov
Archive/
Tools/
ToolsArchive/
test_runs_logs/
Sikraken.code-workspace
output/
resources/
SymbolicExecutor/try.pl
dev_space/
*.gcov