Documentation/Sikraken Backlog.gsheet
a.out
bin/*.png
eclipse/
regression_tests/**/
regression_tests/*.pl
regression_tests/*.i
regression_tests/*.zip
SampleCode/**/
SampleCode/a.out
SampleCode/a.out
SampleCode/*.i
SampleCode/*.pl
SampleCode/*.obj
SampleCode/*.exe
SampleCode/*.zip
SampleCode/*.gcov
test_runs_logs/
Sikraken.code-workspace
output/
sikraken_output/
sikraken_output/
SymbolicExecutor/try.pl
*.txt
*.gcov
*.zip
*.log
*.gp
instrumented*
*.info
log_file
output_*/